[Unit]
Description=SSH Reverse Tunnel Service
After=network.target

[Service]
User=<USERNAME>
ExecStart=/bin/sh -c '/usr/bin/ssh -N -R YY0:localhost:ZZ0 -R YY1:localother_serv:ZZy -o ServerAliveInterval=30 -o ServerAliveCountMax=1 用户名字@服务器B-IP'
TimeoutStopSec=5
KillSignal=SIGTERM
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target

